# This file contains common pin mappings for the BigTreeTech OctoPus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON2 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths							[mcu] section
## Thermistor types						[extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## Z Endstop Switch location			[safe_z_home] section
## Homing end position				[gcode_macro G32] section
## Z Endstop Switch  offset for Z0		[stepper_z] section
## Probe points							[quad_gantry_level] section
## Min & Max gantry corner postions		[quad_gantry_level] section
## PID tune								[extruder] and [heater_bed] sections
## Probe pin								[probe] section
## Fine tune E steps					[extruder] section

[mcu]
##	[X in MOTOR7] - B Motor
##	[Y in MOTOR6] - A Motor
##	[E in MOTOR5] - Extruder
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_34003A001950534146373920-if00
#restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 4000   			#Max 4000
#max_accel: 1000   			#Max 40000
max_z_velocity: 30			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on MOTOR7(B Motor)
[stepper_x]
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG9
position_min: 0
position_endstop: 300
position_max: 300

homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PD3
interpolate: False
# max published current for mybotonline stepper is 1.50
# below are the MAX values for mybotonline stepper
#run_current: 1.0
#hold_current: 0.6
run_current: .9
sense_resistor: 0.110
# stealthCYCLE is recommended for greater positional accuracy
stealthchop_threshold: 0

## Y Stepper on MOTOR6 (A Motor)
[stepper_y]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG10
position_min: 0
position_endstop: 304
position_max: 305

homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PE1
interpolate: False
# max published current for mybotonline stepper is 1.50
# below are the MAX values for mybotonline stepper
#run_current: 1.0
#hold_current: 0.6
run_current: .9
sense_resistor: 0.110
# stealthCYCLE is recommended for greater positional accuracy
stealthchop_threshold: 0

#####################################################################
# 	Extruder
#####################################################################

#	E0 on MOTOR5
[extruder]
step_pin: PC13
enable_pin: !PF1

#cw 1 direction
#dir_pin: PF0

# galileo direction
#dir_pin: !PF0

#cw 2 direction
dir_pin: !PF0

##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point

## Galileo Values
#gear_ratio: 7.5:1				#galileo extruder gear ratio ldo pancake motor
# rotation_distance: 34.6244 # actually extruded 49.09mm
#rotation_distance: 35.2545 # tune galileo extruder value
#rotation_distance: 35.4106180478 # actually extruded 51.11
#full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree


## CW1 values
#gear_ratio: 50:17				#BMG Gear Ratio for clock work
#rotation_distance: 22.186 # calculated estep at max tension
#full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

## CW2 values
gear_ratio: 50:10				#BMG Gear Ratio for clock work
#rotation_distance: 21.29856 # calculated estep at max tension
#rotation_distance: 22.727267 # calculated estep at max tension
rotation_distance: 22.282721 # calculated estep at max tension
full_steps_per_rotation: 400	#200 for 1.8 degree, 400 for 0.9 degree

max_extrude_only_distance: 500
#microsteps: 8 # original microstep
#microsteps: 16 # original microstep
microsteps: 32 # original microstep


## start hotend stuff
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA2 # heater catridge
##	Validate the following thermistor type to make sure it is correct
### Stock Afterburner Settiings
#sensor_type: PT1000
#sensor_pin: PF4 # hotend thermistor
##pullup_resistor: 4548 # on the money at 200, 230, and 260
#pullup_resistor: 4650 # matches bed thermistor and actual room temperature

### Phaetus Rapido hotend
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF4
#pullup_resistor: 4548

min_temp: 0
max_temp: 290
#max_power: .85
max_power: 1.0
#min_extrude_temp: 150
min_extrude_temp: 15
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
##	Try to keep pressure_advance below 1.0

# for ABS fusion
#pressure_advance: 0.0525
# for ABS inland
#pressure_advance: 0.04225
# for ABS inland on CW2
#pressure_advance: 0.035
# for ASA 
#pressure_advance: 0.04725
# for ABS polymaker
pressure_advance: 0.020

##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.030
# end hot end stuff

##	E0 on MOTOR5
##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PE4
interpolate: false # default is True

## CW2 settings
# .45 is too little start seeing gaps in fast infill
# .49 show a little impression from the motor. 
run_current: .50

# CW1 settings
# don't go higher than .7 for run_current
#run_current: 0.35
#hold_current: 0.1
sense_resistor: 0.110 # default
# stealthCYCLE is recommended for greater positional accuracy
stealthchop_threshold: 0

# galileo settings from orbiter 1.5 LDO motor is LDO-36STH20-1004AHG .7 is max RMS, recommendation is don't go past .49 which is 70 percent of .7
#run_current: .35 # infill looked sparse at speed 
# solid infill at ellis speeds and widths look really good. need to monitor temp of motor
#run_current: .6 # solid infill had no gaps. 
#hold_current: .1

 
#####################################################################
# 	Z Stepper Settings
#####################################################################

##	ZL Stepper - Z left on MOTOR3
[stepper_z]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
rotation_distance: 8
#microsteps: 16 # default
microsteps: 32 # default

endstop_pin: PG6
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##	Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
# position_endstop: 1.69
position_endstop: 1.21
position_max: 240
position_min: -0.5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC7
interpolate: False
# stepperonline published max current 2.0
# below are max current values
# run_current: 1.4
# hold_current: 0.8
#run_current: 0.9
run_current: 1.0
sense_resistor: 0.110
# stealthCYCLE is recommended for greater positional accuracy
stealthchop_threshold: 0

## ZRear Stepper - Rear motor on MOTOR4
[stepper_z1]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
# mybotonline 17LS16-1504E-310G stepper motors. 
# 2mm Pitch, 4 lead start
rotation_distance: 8
#microsteps: 16 # default
microsteps: 32 # default

[tmc2209 stepper_z1]
uart_pin: PF2
#interpolate: true
interpolate: False

# stepperonline published max current 2.0
# below are max current values
# run_current: 1.4
# hold_current: 0.8
#run_current: 0.9
run_current: 1.0
sense_resistor: 0.110
# stealthCYCLE is recommended for greater positional accuracy
stealthchop_threshold: 0

##	ZR Stepper - Z right on MOTOR2.2
[stepper_z2]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 8
#microsteps: 16 # default
microsteps: 32 


[tmc2209 stepper_z2]
uart_pin: PC6
interpolate: False
# stepperonline published max current 2.0
# below are max current values
# run_current: 1.4
# hold_current: 0.8
#run_current: 0.9
run_current: 1.0
sense_resistor: 0.110
# stealthCYCLE is recommended for greater positional accuracy
stealthchop_threshold: 0



#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - SSR triggers from HEAT1
heater_pin: PA3
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF3
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.9
min_temp: -100
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
# 	Probe
#####################################################################

[probe]
#pin: PC5 # pin on dedicated probe port on octopus pro board
pin: ^PG11 # pin on stop_3 
x_offset: 0
y_offset: 19.75
z_offset: 6.42
speed: 5
samples: 3 
#samples_result: average
samples_result: median
sample_retract_dist: 2.0

#samples_tolerance: 0.015
samples_tolerance: 0.006
samples_tolerance_retries: 3

[z_tilt]
# voron steve has the following for z_positions for a kinematics kit using 250mm^2
# z_positions:
# 	-50,18
#	150,295
#	300,18

# my calculated positions
#z_positions:
#	-50,15
#	150,350
#	350,15

z_positions:
	-50,18
	150,348
	350,18


#   A list of X,Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the XY position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.

# voron steve has the following for points for a kinematics kit
# points:
# 	30,5
#	150,295
#	220,5
# my original points
#points:
#	5,15
#	150,250
#	290,15

points:
	30,5
	150,245
	270,5
	
#   A list of X,Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 100
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.

# horizontal_move_z: 10
horizontal_move_z: 20
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
# inspired by voron steve
retries: 10
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.0075
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.
#
[bed_mesh]
speed: 100
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 20
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
mesh_min: 40,40
#   Defines the minimum x,y coordinate of the mesh for rectangular
#   beds. This coordinate is relative to the probe's location. This
#   will be the first point probed, nearest to the origin. This
#   parameter must be provided for rectangular beds.
mesh_max: 260,260
#   Defines the maximum x,y coordinate of the mesh for rectangular
#   beds. Adheres to the same principle as mesh_min, however this will
#   be the furthest point probed from the bed's origin. This parameter
#   must be provided for rectangular beds.
probe_count: 5,5
#   For rectangular beds, this is a comma separate pair of integer
#   values (X,Y) defining the number of points to probe along each
#   axis. A single value is also valid, in which case that value will
#   be applied to both axes. Default is 3,3.
algorithm: bicubic
#algorithm: lagrange
#   The interpolation algorithm to use. May be either "lagrange" or
#   "bicubic". This option will not affect 3x3 grids, which are forced
#   to use lagrange sampling. Default is lagrange.
bicubic_tension: .05
#   When using the bicubic algorithm the tension parameter above may
#   be applied to change the amount of slope interpolated. Larger
#   numbers will increase the amount of slope, which results in more
#   curvature in the mesh. Default is .2.
relative_reference_index: 12
#   A point index in the mesh to reference all z values to. Enabling
#   this parameter produces a mesh relative to the probed z position
#   at the provided index.
#faulty_region_1_min:
#faulty_region_1_max:
#   Optional points that define a faulty region.  See docs/Bed_Mesh.md
#   for details on faulty regions.  Up to 99 faulty regions may be added.
#   By default no faulty regions are set.



#####################################################################
# 	Fan Control
#####################################################################

[fan]
pin: PE5
#pin: PD15
#kick_start_time: 0.1
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.0
cycle_time: 0.1

[heater_fan hotend_fan]
pin: PA8
#max_power: .75
#off_below: 0.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
# for abbn30
#fan_speed: .70

[controller_fan fan1]
pin: PD12
stepper: stepper_x,stepper_y,stepper_z,stepper_z1,stepper_z2

[controller_fan fan2]
pin: PD13
stepper: stepper_x,stepper_y,stepper_z,stepper_z1,stepper_z2


#[heater_fan exhaust_fan]
###	Exhaust fan - CNC_FAN3
#pin: PD14
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

[fan_generic exhaust_fan]
###	Exhaust fan - CNC_FAN3
pin: PD14
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0

[fan_generic nevermore_fan]
pin: PD15
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0



#####################################################################
# 	LED Control
#####################################################################

#[output_pin caselight]
# Chamber Lighting - HE1 Connector (Optional)
#pin: PA3
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
#timeout: 1800
timeout: 3600

#[safe_z_home]
###	XY Location of the Z Endstop Switch
###	Update -10,-10 to the XY coordinates of your endstop pin 
###	(such as 157,305) after going through Z Endstop Pin
###	Location Definition step.
#home_xy_position:172,297
#speed:100
#z_hop:10
#[homing_override] 
#axes: z
#set_position_z: 0
#gcode:
#	G90
#	G0 Z5 F600
#	G28 X Y
## 172,299
#	G0 X176 Y303 F3600
#
#	G28 Z 
#	G0 Z10 F1000
#	G0 X150 Y125

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
# 	Displays
#####################################################################

## 	Uncomment the display that you have
#--------------------------------------------------------------------
[display]
##	mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[output_pin beeper]
pin: EXP1_1

[neopixel fysetc_mini12864]
##	To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

##	Set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
        SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[pause_resume]

[neopixel my_neopixel]
pin: PB0
chain_count: 100
color_order: GRB
initial_RED: .4
initial_GREEN: .3
initial_BLUE: .4

# Enable object exclusion
[exclude_object]
#
# Enable arcs support
[gcode_arcs]
resolution: 0.1
#
# Start of include files
[include macros/init.cfg]
[include macros/klicky-probe.cfg]
#[include macros/z_calibration.cfg]
[include macros/neo_pixel.cfg]
[include macros/test_speed.cfg]
[include macros/stealthburner.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 57.518
#*# pid_ki = 1.977
#*# pid_kd = 418.442
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.054
#*# pid_ki = 2.610
#*# pid_kd = 60.130
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.013750, 0.011250, -0.032500, 0.032500, 0.002500
#*# 	  0.047500, 0.063750, 0.098750, 0.092500, 0.062500
#*# 	  0.032500, 0.098750, 0.000000, 0.075000, 0.057500
#*# 	  0.093750, 0.103750, 0.102500, 0.112500, 0.087500
#*# 	  -0.021250, 0.026250, 0.005000, 0.058750, 0.077500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.05
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
